@import "bootstrap/scss/bootstrap";

body {
    min-height: 100vh;
}

#root {
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7.5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

main ul {
    scrollbar-width: thin;
}

button.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.userAndEmail .hiddenEmail{

    padding: 0.25em 0.5em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;
    visibility:hidden;
}

.userAndEmail:hover .hiddenEmail{
     visibility:visible;
     transition-delay:0.4s;
}